<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let foto of fotoservice.dataFoto; let counter  = index">
        <ion-card>
          <ion-img [src]="foto.filePath"></ion-img>
          <ion-card-content>
            <ion-button (click)="hapusFoto(counter)" color="danger" size="small" shape="round">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="warning" (click)="addNewFoto()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
